#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

#header {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: white;
}

#logoButton {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
  text-decoration: none;
  font-family: "Arial";
  color: black;
  font-size: small;
}

#logo{
  color: rgb(7, 132, 120);
  font-weight: bold;
  font-size: large;
}

#cartButton {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 9;
    grid-column-end: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bookingButton {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 10;
    grid-column-end: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.155);
}

#booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: white;
    border-radius: 20px;
}

#bookingContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  
    
}

.travelDetail {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 30%;
    margin-top: 10px;
    background-color: rgba(255, 228, 196, 0.752);
}

#bookingFooter p {
    border-top: solid 1px black;
    color: rgba(0, 128, 0, 0.736)
}